@model System.Collections.Generic.List<WebApp.Models.DB.Usuario>

@{
    ViewData["Title"] = "Home Page";
}

<h1>Users</h1>
<br>
<div class="row">
    <div class="col">
        <a class="btn btn-primary" asp-controller="Home" asp-action="newUser">
            <svg id="i-plus" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="1.2em" height="1.2em" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                <path d="M16 2 L16 30 M2 16 L30 16"/>
            </svg> New
        </a>
    </div>
</div>
<br>
<div class="row">
    <div class="col">
        <div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var user in Model)
                {
                    <tr>
                        <td>@user.IdUsuario</td>
                        <td>@user.Name</td>
                        <td>
                            <a class="btn btn-primary" asp-controller="Home" asp-action="editUser" asp-route-idUser="@user.IdUsuario">
                                <svg id="i-edit" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="1.2em" height="1.2em" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                                    <path d="M30 7 L25 2 5 22 3 29 10 27 Z M21 6 L26 11 Z M5 22 L10 27 Z"/>
                                </svg>
                            </a>
                        </td>
                        <td>
                            <button id="deleteButton" type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal" onclick="confirmDelete(@user.IdUsuario, '@user.Name')">
                                <svg id="i-trash" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="1.2em" height="1.2em" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                                    <path d="M28 6 L6 6 8 30 24 30 26 6 4 6 M16 12 L16 24 M21 12 L20 24 M11 12 L12 24 M12 6 L13 2 19 2 20 6"/>
                                </svg>
                            </button>
                            @*<a class="btn btn-danger" asp-controller="Home" asp-action="deleteUser" asp-route-idUser="@user.IdUsuario">Delete</a>*@
                        </td>
                    </tr>
                }
                @*<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="deleteModalLabel">Delete User</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Are you sure to delete the user with id @user.IdUsuario</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                <a class="btn btn-danger" asp-controller="Home" asp-action="delete" asp-route-idUser="@user.IdUsuario">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>*@
                </tbody>
            </table>
        </div>
    </div>
</div>

<div id="modal">

</div>

@if (ViewData["userNotFound"] != null
     && (bool) ViewData["userNotFound"] == true)
{
    <!-- Flexbox container for aligning the toasts -->
    <div aria-live="polite" aria-atomic="true" class="d-flex justify-content-end align-items-end">

        <!-- Then put toasts within -->
        <div class="toast" role="alert" data-delay="3000" data-autohide="true" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <svg id="i-alert" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="1.2em" height="1.2em" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
                    <path d="M16 3 L30 29 2 29 Z M16 11 L16 19 M16 23 L16 25"/>
                </svg>
                <strong class="mr-auto"> Error</strong>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="toast-body">
                User can't be updated because not found or not Exist!.
            </div>
        </div>
    </div>
}